# Made by build.bat
build/
lib/

# Made by Minecraft code during build.bat test
logs/

# Compiled class files
*.class

# Editor folders
.vscode/
.idea/

# The Squid Kit's example project comes with its VS Code settings
!tools/kit/ExampleMod/.vscode/
